* {   /*   TAG UNIVERSAL   */
    padding: 0%;    margin: 0%;    box-sizing: border-box;  
}

main, section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

main {
    font-family: 'Ysabeau Infant', sans-serif;
}

main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: fill;
    z-index: -1;
}

.sociais, .perfil {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-flow: column wrap;
    box-sizing: border-box;
}

main .sociais {
    width: 40%;
    min-width: 500px;
}

.perfil {
    margin-bottom: 35px;
}

.perfil h1::after{
    content: " ";
    background-image: url('imgs/verificado.png');
    background-size: cover;
    width: 18px;
    height: 18px;
    margin-left: 4px;
}

.perfil h1 {
    font-size: 46px;
    color: white;
    text-shadow: 3px 5px 3px rgba(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.perfil h1::before {
    content: " ";
    background-image: linear-gradient(to right, #ffdf00, #009c3b);
    background-size: cover;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    margin-left: 4px;
    position: absolute;
    bottom: 0;
}

.gradiente {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to left, #ffdf00,#009c3b);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.perfil .gradiente img {
    width: 190px;
    height: 190px;
    border-radius: 100%;
}

.sociais {
    width: 38%;
    display: flex;
    flex-flow: column wrap; 
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
}

.sociais a {
    padding: 10px 150px;
    width: 100%;
    border-radius: 18px;
    color: white;
    text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.500);
    background-color: rgba(0, 0, 0, 0.600);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    position: relative;
}

.sociais a img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
}

.sociais a:hover {
    background-color: rgba(240, 248, 255, 0.800);
    color: black;
    font-weight: 900;
}

                                        /* SEÇAO TABELA */
section {
    background-image: url('imgs/imagem-de-fundo.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

section h2 {
    font-size: 56px;
    color: white;
    text-shadow: 3px 5px 1px rgba(0, 0, 0);
    margin-bottom: 40px;
}

section table {
    width: 600px;
    height: 400px;
    text-align: center;
}

.tabela-head tr {
    background-color: rgba(0, 0, 0, 0.900);
    font-size: 22px;
}

.tabela-head tr th {
    padding: 20px 20px;
}

.tabela-corpo tr:nth-child(odd) {  
    background-color: rgba(255, 255, 255, 0.800);
    color: black;
    font-weight: 600;
}

.tabela-corpo tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.900);
    color: white;
    font-weight: 600;
}

.tabela-corpo tr td:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    margin: 0px 15px;
    margin-top: 16px;
    position: relative;
}

.tabela-corpo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
